/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Century Gothic" !important;
}
.btn{
    background-color: #FEBD39 !important;
    border: 0 !important;
    color: black !important;
}