.navlinks{
    font-size:16px !important;
    font-weight: bold;
    color: #37B1CC;
}
.navlinks:hover{
    background-color: rgb(40, 40, 53);
    color: #37B1CC;
}
.title{

    font-size:22px !important;
}
.title:hover{

    font-size:23px !important;
}
