<!-- <div class="wrapper">
  <div class="sidebar" data-color="purple" data-image="">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(/assets/images/car8.jpg)"></div>
  </div>

  <div class="main-panel">
    <div class="container-main">
      <!--<nav class="navbar navbar-expand-lg navbar-expand-sm bg-dark navbar-inverse fixed-top border-0" style="opacity: 0.8;">
                <div class="collapse navbar-collapse">
                
                    <a class="navbar-brand title" routerLink="/">
              <img [src]="logoUrl" style="width:48px;height: 48px;" /><span style="font-size: 25px;color: #37B1CC;">{{first}}</span><span
              style="font-size: 25px;color: #FEBD39;">{{second}}</span>
                </a>
                <button class="navbar-toggler navbar-toggler-right border-2 border-light" type="button" data-toggle="collapse" data-target="#navb">
                  <fa name="bars" class="text-white "></fa>
                  <!-- <span class="navbar-toggler-icon"></span> 
                </button>
                <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto ml-2">
              <li class="nav-item navitem border-dark " style="width:100px;">
                    <a class="nav-link rounded navlinks border-dark"routerLink="/listSkills">
                      <span >
                      <fa name="graduation-cap"></fa> Skills
              </span >
                    </a>
                  </li>
                  <li class="nav-item navitem border-dark " style="width:140px;">
                      <a class="nav-link rounded navlinks border-dark"routerLink="/addSkill">
                        <span >
                        <fa name="plus"></fa> Add Skill
                </span >
                      </a>
                    </li>
              
              <li class="nav-item" style="width:130px;">
                    <a class="nav-link rounded navlinks border-dark" routerLink="/contact">
                      <span>
                      <fa name="comments"></fa> Contact
              </span>
                    </a>
                  </li>
                </ul>
              
              
                  
                <ul class="navbar-nav">
                    <li class="nav-item" style="width:150px;">
                        <a class="nav-link rounded navlinks border-dark" routerLink="/notification">
                          <span>
                            <fa name="bell"></fa> Notifications
                          </span>
                        </a>
                      </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle navlinks " href="#" id="navbardrop" data-toggle="dropdown">
                          <fa name="user"></fa> Account
                      </a>
                      <div class="dropdown-menu bg-dark">
                        <a class="nav-link bg-dark dropdown-item mb-2" routerLink='/editProfile'> <fa name="pencil"></fa> Edit Profile</a><hr>
                        <a class="nav-link bg-dark dropdown-item" routerLink='/home' > <fa name="sign-out"></fa> Sign Out</a>
                      </div>
                  </li>
                  
                  <!-- <li class="nav-item" style="width:120px;">
                    <a class="nav-link text-light rounded navlinks border-dark" routerLink="/signup">
                      <span>
                        <fa name="user-plus"></fa> Signup 
                      </span>
                    </a>
                  </li> 
              
                </ul>
              
                <form class="form-inline navbar-form navbar-right" >
                  <div class="input-group">
                    <input type="text" name="srchValue" class="form-control" [(ngModel)]="srchValue" required #srch placeholder="Skill Name" />
                    <div class="input-group-prepend">
                      <button class="btn text-dark" style="background-color: #FEBD39;" (click)="doSearch()">
                        <fa name="search"></fa>
                      </button>
                      </div>
                      </div>
                </form>
            </div>
              </nav>
            -->
            <!--
      <nav class="navbar navbar-nav navbar-expand-lg navbar-expand-sm mt-5 bg-light navbar-inverse float-right" style="opacity: 0.7;">
        <div class="container collapse navbar-collapse">
          <form class="form-inline my-2 my-lg-0 navbar-form " style="font-size: 16px !important;">
            <div class="input-group float-right">
                
                <input type="text" name="srchValue" style="height: 32px;" class="bg-light border border-warning border-2 form-control p-2" [(ngModel)]="srchValue" required #srch
                placeholder="Skill Name" />   
                <div class="input-group-prepend" >          
                <button class="btn text-dark m-0 border-2" style="background-color: #FEBD39;" (click)="doSearch()">
                  <fa name="search"></fa>
                </button>
              </div>
            </div>
          </form>
        </div>
      </nav>

      <section>
        <router-outlet></router-outlet>
      </section>

      <br>
      <br>
      <br>


      <footer class="page-footer fixed-bottom font-small bg-dark pt-2" style="opacity:0.8;">

        <div class="container">

          <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a class="btn-floating btn-fb mx-2">
                <i class="fa fa-facebook text-light"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-tw mx-2">
                <i class="fa fa-twitter text-light"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-gplus mx-32">
                <i class="fa fa-google-plus text-light"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-li mx-2">
                <i class="fa fa-linkedin text-light"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-dribbble mx-2">
                <i class="fa fa-dribbble text-light"> </i>
              </a>
            </li>
          </ul>

          <div class="footer-copyright text-light text-center py-1">© 2018 Copyright: dev@nav
          </div>
        </div>


      </footer>

    </div>
  </div>
</div> -->
<app-employee-home></app-employee-home>