<div class="container shadow-lg w3-light-gray rounded" style="padding:20px;">
    <h3 class="mb-5 ml-5 text-dark" ><br>
      <fa name="plus" class="shadow-lg"></fa> Add Skill<hr>
    </h3>
<div class="container">
      <form class="form card w3-light-gray border-0 p-5" #f="ngForm" novalidate (ngSubmit)="f.valid && save()">


        <div class="mb-3">
          <div class="input-group">
            <div id="employeeId" name="employeeId" [(ngModel)]="skill.employeeId" #employeeId=ngModel>
            </div>
            <div id="employeeName" name="employeeName" [(ngModel)]="skill.employeeName" #employeeName=ngModel>
            </div>
          </div>
        </div>

        <div class="mb-3">
            <h5>Select Skill</h5><hr>
          <div class="input-group text-dark w3-light-gray rounded">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <fa name="graduation-cap"></fa>
              </span>
              <pre> </pre>
            </div>

              <ng-container>
                  <select class="form-control p-2 m-2" id="skillId" name="skillId" #skillId=ngModel [(ngModel)]="skill.skillId">
                    
                    <option *ngFor="let sk of skillList"  [attr.value]="sk.skillId">{{sk.skillId}} {{sk.skillName}}
                    </option>
                  </select>
                </ng-container>
            <ng-container>
              <!-- <button type="button" class="btn btn-outline-success p-2 m-2">{{sk.skillName}}</button> -->

              <select class="form-control p-2 m-2" id="skillName" name="skillName" #skillName=ngModel [(ngModel)]="skill.skillName">
                
                <option *ngFor="let sk of skillList"  [attr.value]="sk.skillName">{{sk.skillName}}
                </option>
              </select>
            </ng-container>


          </div>
        </div>
        <br>
        <br>
        <div class="mb-3">
            <h5>Select Level</h5><hr>
          <div class="input-group text-dark w3-light-gray rounded">
            
            <div class="input-group-prepend">
              <span class="input-group-text">
                <fa name="balance-scale"></fa>
              </span>
              <pre> </pre>
            </div>
            <div class="input-group-text ">
              <div class="form-check-inline ">

                <label class="form-check-label ">
                  <input type="number" min="1" max="10" class="form-check-input" name="level" value="8" required
                    [(ngModel)]="skill.level" #level=ngModel />
                </label>

              </div>
              <br>
            </div>
          </div>
        </div>
        <br>
        <div>
          <button class="btn btn-block btn-dark">Save</button>
     
          <br>
        </div>
      </form>
    </div>
    </div>
