<div style="margin-top: 0px !important;">
  <div class="jumbotron bg-light m-0 p-0">
    <header>
        <img src="assets/images/contactus.jpg" style="width:100%; height:100%" class="img-fluid" />
    </header>

    <div class="container mt-0 pt-0">
        <div class="container mt-0 pt-0">
            <div class="row mt-0 pt-0">
        <div class="col-sm-7 w3-light-gray shadow-lg card mycard">
          <br>
          <div class="card-heading cardhead"><h3>Contact Us</h3></div>
          <hr>

          <div class="card-body bg-light cardbody">
            <br>
            <form class="form-horizontal" action="/home">

              <div class="form-group row">
                <label class="control-label text-dark col-sm-3" for="name">Name:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="name" placeholder="Enter name">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label class="control-label text-dark col-sm-3" for="email">Email:</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label class="control-label text-dark col-sm-3" for="msg">Message:</label>
                <div class="col-sm-8">
                  <textarea class="form-control" name="message" id="msg" cols="30" rows="6" placeholder="Enter your message"></textarea>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <div class="col-sm-5">

                </div>
                <div class="col-sm-7">
                  <button type="submit" class="btn btn-default w3-light-green text-dark">Send</button>
                </div>

              </div>
            </form>
          </div>

        </div>
      
        <div class="col-sm-5 shadow-lg w3-light-gray container card mycard" style="text-align:center !important;">
          <br>
          <h3 class="card-heading cardhead">
            Or Reach us :
          </h3>
          <hr>

          <div class="col-sm-12 card-body bg-light cardbody">
            <h4 class="">
              Address :
            </h4>
            <Address>
              14-1-211/587, Masjid Ali, Tulasi Nagar, Borabanda, Hyderabad, Telangana
            </Address>

            <h4 class="">
              Phone : </h4>
            <p>(987)237-5237</p>
            <h4 class="">
              Email : </h4>
            <p>navneetkalsi28@gmail.com</p>

            <h3 class="">
              We are Social too!
            </h3>

            <br>
            <div class="row justify-content-center">
              <div class="m-2">
                <img src="assets/images/facebook.png" class="rounded-circle" width="30px" height="30px" alt="facebook">
              </div>

              <div class="m-2">
                <img src="assets/images/google.png" class="rounded-circle" width="30px" height="30px" alt="google">
              </div>

              <div class="m-2">
                <img src="assets/images/linkedin.png" class="rounded-circle" width="30px" height="30px" alt="linkedin">
              </div>

              <div class="m-2">
                <img src="assets/images/twitter.png" class="rounded-circle" width="30px" height="30px" alt="twitter">
              </div>
              <div class="m-2">
                <img src="assets/images/instagram.png" class="rounded-circle" width="30px" height="30px" alt="instagram">
                <p>
                  <br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>
