#loaderMain{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 30;
    text-align: center;
    align-content: center;
    align-items: center;
    background: white;
}