.navlinks{
    font-size:16px !important;
    padding: 10px 15px;
}
.navlinks:hover{
    background-color: rgb(40, 40, 53);
    padding: 10px 15px;
}
.title{

    font-size:22px !important;
}
.title:hover{

    font-size:23px !important;
}